// Sitewide SCSS

$font-stack: 'Droid Sans', Helvetica, sans-serif;
$primary-color: #FF7400;
$second-color: #FF9640;
$third-color: #FFB273;
$fourth-color: #000099;
$fifth-color: #A64B00;
$sixth-color: #006363;
$seventh-color: #BF7130;